.App input, .App button {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid gray;
  background-color: #fff;
  transition: .3s;
}

.App button{
  cursor:pointer;
}

.App button:hover{
  background-color: #000;
  color:white;
  border-color: black;
}
